.chart-container {
  color: black;
}

.bar {
  fill: #5695bf;
}

.label {
  fill: #5695bf;
}

.container {
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem 10rem;
  display: inline-block;
}

.skeleton {
  display: none;
}
