<div class="reset-form">


    <section class="side-image">

        <div class="side-heading">
            <h1 class=>DEMO APP</h1>
            <h2 class="side-sub-heading">Reset your password </h2>
        </div>
    </section>
    <section class="resetForm">
        <mat-card>
            <mat-card-header class="title-box">
                <mat-card-title>Reset Password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="resetPasswordDetails" class="content" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" />
                        <mat-error
                            *ngIf=" resetPasswordDetails.controls['email'].touched && resetPasswordDetails.controls['email'].errors?.['email']">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error
                            *ngIf="resetPasswordDetails.controls['email'].errors?.['required'] || !resetPasswordDetails.controls['email'].touched">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Old password</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="oldPassword" />
                        <mat-error
                            *ngIf=" resetPasswordDetails.controls['oldPassword'].touched && resetPasswordDetails.controls['oldPassword'].errors?.['oldPassword']">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error
                            *ngIf="resetPasswordDetails.controls['oldPassword'].errors?.['required'] || !resetPasswordDetails.controls['oldPassword'].touched">
                            Old Password is required
                        </mat-error>
                        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                            <mat-icon>{{ hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"
                            #newPasswordValue />
                        <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
                            <mat-icon>{{hideNewPassword ? "visibility_off" : "visibility"}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="resetPasswordDetails.controls['newPassword'].errors?.['required'] && [(!resetPasswordDetails.controls['newPassword'].touched || resetPasswordDetails.controls['newPassword'].dirty)|| resetPasswordDetails.controls['newPassword'].touched]; else password">New
                            Password is required</mat-error>
                        <ng-template #password>
                            <mat-error *ngIf="
                      resetPasswordDetails.controls['newPassword'].invalid &&
                      (resetPasswordDetails.controls['newPassword'].touched ||
                        resetPasswordDetails.controls['newPassword'].dirty)
                    ">Please enter valid password</mat-error>
                        </ng-template>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                            formControlName="confirmPassword" #confirmNewPassword />
                        <button type="button" mat-icon-button matSuffix
                            (click)="hideConfirmPassword = !hideConfirmPassword">
                            <mat-icon>{{hideConfirmPassword ? "visibility_off" : "visibility"}}</mat-icon>
                        </button>

                        <mat-error
                            *ngIf="resetPasswordDetails.controls['confirmPassword'].errors?.['required'] && [!resetPasswordDetails.controls['confirmPassword'].touched || resetPasswordDetails.controls['confirmPassword'].touched];else otherPassword">Confirm
                            Password is required</mat-error>
                        <ng-template #otherPassword>
                            <mat-error
                                *ngIf="resetPasswordDetails.controls['confirmPassword'].errors?.['passswordMismatchError'] && (resetPasswordDetails.controls['confirmPassword'].touched || resetPasswordDetails.controls['confirmPassword'].dirty)">
                                Password doesn't match
                            </mat-error>
                        </ng-template>
                    </mat-form-field>
                    <div class="button-box">
                        <button mat-raised-button color="primary" type="submit" class="button">
                            Submit
                        </button>
                        <a class="link" [routerLink]="['']">Go to log in</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </section>
</div>