.resetForm {
  display: flex;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  background-color: white;
  mat-card-title {
    font-family: cursive;
  }
}
mat-form-field {
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-image {
  background-color: #5184a5;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .side-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0.5rem;
    h1,
    h2 {
      font-weight: bold;
      font-family: cursive;
      font-size: 1.25rem;
      color: #1e4159;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
}
.reset-form {
  display: flex;
}
.resetForm {
  display: flex;
  flex-direction: column;
}
.resetForm {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-form-field {
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-box {
  display: flex;
  justify-content: center;
}
.button {
  margin-top: 0.5rem;
}
.link {
  padding-top: 0.75rem;
  font-size: 0.75rem;
}
@media (max-width: 1000px) {
  .side-image {
    background-color: #5184a5;
    width: 100vw;
    position: fixed;
    z-index: 10;
    .side-heading {
      h1,
      h2 {
        font-size: 0.8rem;
      }
    }
  }
  .reset-form {
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    .resetForm {
      margin-top: 5rem;
      overflow-y: scroll;
      position: relative;
      justify-content: flex-start;
      mat-card {
        height: 100%;
      }
      form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    mat-card-title {
      display: none;
    }
    mat-form-field {
      flex-grow: 1;
      padding: 0 1rem;
    }
  }
  .mat-card {
    box-shadow: none;
    width: 100%;
  }
  .button {
    width: 90%;
  }
  .link {
    font-size: 1rem;
    padding: 1rem;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  .side-image {
    background-color: #5184a5;
    width: 100vw;
    position: fixed;
    z-index: 10;
    .side-heading {
      padding: 0;
      h1,
      h2 {
        font-size: 1rem;
      }
    }
  }
  .reset-form {
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
    .resetForm {
      margin-top: 6rem;
      overflow-y: scroll;
      position: relative;
      justify-content: flex-start;
      mat-card {
        height: 100%;
      }
      form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    mat-card-title {
      display: none;
    }
    mat-form-field {
      flex-grow: 1;
      padding: 0 2.5rem;
    }
  }
  .mat-card {
    box-shadow: none;
    width: 100%;
  }
  .button {
    width: 90%;
  }
  .link {
    font-size: 1rem;
    padding: 1rem;
  }
}
